<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @comment.id %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment.user_id %>
</p>

<p>
  <strong>Post:</strong>
  <%= @comment.post_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @comment.parent_comment_id %>
</p>




<%= link_to "upvote", like_comment_path(@comment), method: :put %>
<%= link_to "downvote", dislike_comment_path(@comment), method: :put %>
<%= link_to "unvote", unvote_comment_path(@comment), method: :put %>

<%= @comment.score %>




<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
