<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @sub.title %>
</p>


<h2><%= link_to 'New post', new_post_path(:sub_id => 1) %></h2>
<h2><%= link_to 'Subscribe', new_subscription_path(:sub_id => 1) %></h2>


<button type="button" id="test">Subscribe</button>

<div>
  <% @sub.posts.each do |p|%>
    <%= p.title %>
    
  <% end %>
    
  
</div>



<%= link_to 'Edit', edit_sub_path(@sub) %> |
<%= link_to 'Back', subs_path %>



