<h1>Post</h1>


<%= @post.title%>
<p><%= @post.user.email %></p>


<button id='comment'>Create comment</button>


<div style="display:none;" id='text'><%= render :partial => '/comments/form', :object => @comment%></div>
    

<h1>Comments</h1>
</br>

<% @post.comments.each do |c|%>
    <% if c.parent_comment_id == nil%>
        <div style='border: 1px solid black' id = "<%=c.id%>"><%=c.content %>
        <button class='reply'>Reply</button></div>
    <%end %>
    <% end %>


    
    
    
    
    
    
    
    

<%= link_to 'Back', root_path %>
<%= link_to 'Edit',  edit_post_path %>


<%= link_to "upvote", like_post_path(@post), method: :put %>
<%= link_to "downvote", dislike_post_path(@post), method: :put %>
<%= link_to "unvote", unvote_post_path(@post), method: :put %>


<%= @post.score %>

<%= link_to 'Delete',  post_path, method: :delete, data: {confirm: "Are you sure?"} %>